.background {
    background-image: url('../images/20-209531_united-states-clipart-shape-usa-map-3d-png.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 870px;
    width: 100%;
}